
body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 16px);
  padding: 8px;
}
body>main {
  flex-grow: 1;
}
body>header {
  margin-bottom: 0.5em;
}


/* the following was in the default react app css file, leaving it here. */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.glee {
  background-color: aqua;
}

.flexbox {
  display: flex;
}
.column {
  flex-direction: column;
}
.flexgrow {
  flex-grow: 1;
}