.match3 {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-gap: 0px;
    background-color: #2196f3;
    padding: 10px;
}
.match3 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    position: relative;
    padding: 20px 0;
    top: 0px;
    border: 3px solid #2196f3;
    font-size: 30px;
}
@keyframes drop1 {
    from {
        top: -100%;
    }
}
/* @keyframes drop2 {
    from {
        top: -200%;
    }
}
@keyframes drop3 {
    from {
        top: -300%;
    }
} */
